<div class="card">
    <h4 class="card-header">Rejestracja</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Nazwa użytkownika</label>
                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Nazwa użytkownika jest wymagana!</div>
                </div>
            </div>    
            <div class="form-group">
                <label for="birthdate">Data urodzenia</label>
                <input type="date" max="{{isAdult}}" formControlName="birthdate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.birthdate.errors }" />
                <div *ngIf="submitted && f.birthdate.errors" class="invalid-feedback">
                    <div *ngIf="f.birthdate.errors.required">Data urodzenia jest wymagana!</div>
                </div>
            </div>   
            <div class="form-group">
                <label for="email">Adres e-mail</label>
                <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">E-mail jest wymagany!</div>
                </div>
            </div>                   
            <div class="form-group">
                <label for="password">Hasło</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Hasło jest wymagane!</div>
                    <div *ngIf="f.password.errors.minlength">Hasło musi składać się z przynajmniej 6 znaków</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Zarejestruj się
                </button>
                <a routerLink="../login" class="btn btn-link">Cofnij</a>
            </div>
        </form>
    </div>
</div>