<body>
  <div class="l-site">
    <div class="l-page">
      <section class="band band-a">
        <div class="band-container">
          <div class="band-inner">
            <div *ngIf="user">
              <h1>Witaj {{user.username}}!</h1>
            </div>
            <div *ngIf="!user">
              <h1>Witaj adminie!</h1>
            </div>
            <br>
            <h3> Kieszonkowe.pl</h3>
            <p>Aby edytować dane związane z Twoim kontem użytkownika przejdz do zakładki <i>Profil</i>.</p>
            <p>W celu przeglądania statystyk dotyczących stawek kieszonkowego w Polsce przejdź do zakładki <i>Statystyki</i>.</p>
            <p>Jeśli chcesz dodać informacje o swoich dzieciach przejdź do zakładki <i>Twoje dzieci</i></p>
          </div>
        </div>
      </section>
      <section class="band band-a">
        <div class="band-container">
          <div class="band-inner">
            <h1>Uwaga!</h1>
            <p>Aby mieć dostęp do udostępnianych przez nas statystyk podaj informację związane z Twoimi pociechami w zakładce <i>Twoje dzieci</i>.
              Po wprowadzeniu tych danych będziesz mógł przeglądać statystyki związane z grupą wiekową Twojego dziecka
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>

</body>