<body>
  <div class="l-site">
    <div class="l-page">
      <section class="band band-a">
        <div class="band-container">
          <div class="band-inner">
            <h1>Witaj w najlepszym serwisie o dofinansowywaniu dzieci</h1>
            <br>
            <h3> Kieszonkowe.pl</h3>
            <p>Jesteśmy zaufanym serwisem, który pomoże Ci dostosować stawkę wypłacanego Twoim dzieciom kieszonkowego.
              Na rynku działamy od 2020 roku i świadczymy swoją usługę rodzicom w całym kraju.</p>
            <p>Dzięki ludziom, korzystającym z naszego serwisu stale ulepszamy nasze usługi i staramy się wraz z
              rozwojem dostosowywać pod potrzeby naszych użytkowników.</p>
          </div>
        </div>
      </section>
      <section class="band band-a">
        <div class="band-container">
          <div class="band-inner">
            <h1>Korzyści dla zarejestrowanych użytkowników</h1>
            <p>Rejestrując się na stronie Kieszonkowe.pl uzyskujesz dostęp do całkowicie darmowych usług pozwalających na sprawdzanie statystyk dotyczących stawek kieszonkowego w poszczególnych obszarach Polski. Udostępnione przez nas statystyki pomogą Ci odpowiednio dobrać stawkę kieszonkowego dla Twojego dziecka w opraciu o faktyczne kwoty ustalane przez innych rodziców.
            </p>
          </div>
        </div>
      </section>
      <section class="band band-a">
        <div class="band-container">
          <div class="band-inner">
            <h1>Etap edukacji Twojego dziecka</h1>
            <p>Twoje dziecko dorasta, zmienia szkołę, a Ty nie wiesz, czy dotychczasowa kwota kieszonkowego wciąż bedzie dla niego wystarczająca?</p>
            <p><b> Żaden problem! </b> <br> Nasz serwis pozwoli Ci dobrać kieszonkowe biorąc pod uwagę aktualny stopień eduakcji Twoich pociech.</p>
          </div>
        </div>
      </section>
      <section class="band band-a">
        <div class="band-container">
          <div class="band-inner">
            
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="./script.js"></script>

</body>