@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400);
html,
body {
  margin: 0;
  padding: 0;
  background: #81aec5;
  color: rgb(228, 206, 15);
  font-family: "Open Sans", sans-serif;  
}

.l-site {
  margin: 0 auto;
  max-width: 1600px;
  position: relative;
  z-index: 1;
}
.l-site:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  display: block;
  background: #3a4043;
  z-index: 1;
}

.l-page {
  position: relative;
  margin-left: 240px;
  background: #fff;
  z-index: 2;
  box-shadow: 1px 0 25px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  transition: 0.35s;
}

.l-nav {
  position: fixed;
  width: 240px;
  //display: block;
  background: #2a2544;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.band h1 {
  margin: 0;
  padding: 0 0 10px;
  color: rgb(228, 206, 15);
  font-size: 32px;
  //text-align: left;
}
.band p {
  margin: 0;
  padding: 0;
  color: rgb(228, 206, 15);
  font-size: 17px;
}

.band-container {
  left: 0;
  right: 0;
  margin: auto;
  min-height: 30vh;
  max-width: 960px;
  display: table;
  position: relative;
  padding: 0 3em;
  //background-image: radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
  //background-attachment: fixed;
}

.band-inner {
  display: table-cell;
  vertical-align: middle;
  padding: 3em 0 4em;
  // border-style: dashed;
  //border-color: yellowgreen;
  text-align: left;
}

.band-a {
  text-align: left;
  // border-style: dashed;
  //border-color: yellow;
  background-image: radial-gradient(
      50% 30% ellipse at center top,
      #bbbbbb 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(60% 50% ellipse at center bottom, #d6d6d6 0%, #ffffff 100%);
  background-attachment: fixed;
}

.nav {
  width: 180px;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 30px;
  overflow: auto;
}
.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav li {
  margin: 0;
  padding: 0;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  transition: 0.25s;
}
.nav a {
  color: rgb(228, 206, 15);
  text-decoration: none;
  font-size: 22px;
  font-weight: 800;
  display: block;
  padding: 10px 0;
}
.nav .nav-primary {
  opacity: 1;
}
.nav .nav-primary:hover {
  opacity: 0.7;
}
.nav .nav-secondary {
  opacity: 0.4;
}
.nav .nav-secondary:hover {
  opacity: 0.7;
}

.menu {
  display: none;
  position: fixed;
  top: 25px;
  left: 1.5em;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 10;
}
.menu:hover .menu-hamburger:before,
.menu:hover .menu-hamburger:after {
  width: 24px;
}
.menu.is-active .menu-hamburger {
  background: none;
}
.menu.is-active .menu-hamburger:before,
.menu.is-active .menu-hamburger:after {
  top: 0;
  width: 24px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu.is-active .menu-hamburger:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu.is-active .menu-hamburger:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.menu-hamburger {
  position: relative;
  width: 24px;
  height: 4px;
  margin: 10px 0;
  background: #fff;
  border-radius: 4px;
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.menu-hamburger:before,
.menu-hamburger:after {
  content: "";
  display: block;
  width: 24px;
  height: 4px;
  background: #fff;
  position: absolute;
  border-radius: 4px;
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.menu-hamburger:before {
  top: -8px;
  left: 0;
  width: 22px;
}
.menu-hamburger:after {
  top: 8px;
  width: 16px;
  left: 0;
}

#kot {
  opacity: 70%;
}

#zdj {
  // border: dashed;
  cursor: pointer;
  color: red;
}

@media screen and (max-width: 980px) {
  .menu {
    display: block;
  }

  .l-site.is-open {
    overflow: hidden;
  }
  .l-site.is-open .l-page {
    -webkit-transform: translateX(240px);
    -moz-transform: translateX(240px);
    -ms-transform: translateX(240px);
    -o-transform: translateX(240px);
    transform: translateX(240px);
  }

  .l-page {
    margin-left: 0;
    z-index: 3;
  }

  .l-nav {
    z-index: 2;
  }

  .band-container {
    padding: 0 1.5em;
  }
}
