<div class="l-nav">
    <nav class="nav">
      <ul>
        <li class="nav-primary"><a routerLink="/home">Strona Główna</a></li>
        <li *ngIf="!user" class="nav-primary"><a routerLink="/register">Rejestracja</a></li>
        <li *ngIf="!user" class="nav-primary"><a routerLink="/login">Logowanie</a></li>
        <li *ngIf="user" class="nav-primary"><a routerLink="/children" routerLinkActive>Twoje dzieci</a></li>
        <li *ngIf="user" class="nav-primary"><a routerLink="/statistics" >Statystyki</a></li>
        <li *ngIf="user" class="nav-primary"><a (click)="logout()">Wyloguj</a></li>
      </ul>
    </nav>
  </div>     

  <alert></alert>
<router-outlet></router-outlet>