<div *ngIf="isAddMode">
    <h1>Dodaj rekord dziecka</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmitAdd()" class="adding-child">
        <div class="form-row">
            <div class="form-group col">
                <label for="name">Imię</label>
                <input type="text" formControlName="name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Imię jest wymagane!</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="education">Stopień edukacji</label>
                <select formControlName="education" class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && f.education.errors }">
                    <option *ngFor="let education of educations" [value]="education.educationDegree">
                        {{education.educationDegree}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="education">Region</label>
                <select formControlName="region" class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && f.region.errors }">
                    <optgroup label="Miasta">
                        <option *ngFor="let city of cities" [value]="city.regionName">
                            {{city.regionName}}
                        </option>
                    </optgroup>
                    <optgroup label="Województwa">
                        <option *ngFor="let voivodeship of voivodeships" [value]="voivodeship.regionName">
                            {{voivodeship.regionName}}
                        </option>
                    </optgroup>

                </select>
                <div>{{selectedEducation}} {{selectedRegion}}</div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="plannedAmount">Planned amount</label>
                <input type="number" formControlName="plannedAmount" class="form-control" min="0" step="1" oninput="validity.valid||(value='');"
                    [ngClass]="{ 'is-invalid': submitted && f.plannedAmount.errors }" />
                <div *ngIf="submitted && f.plannedAmount.errors" class="invalid-feedback">
                    <div *ngIf="f.plannedAmount.errors.required">Planned amount is required</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Zapisz
            </button>
            <a routerLink="/children" class="btn btn-link">Cofnij</a>
        </div>
    </form>
</div>

<div *ngIf="!isAddMode">
    <h1>Edycja rekordu dziecka</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmitEdit()" class="adding-child">
        <div class="form-row">
            <div class="form-group col">
                <label for="name">Imię</label>
                <input type="text" formControlName="name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Imię jest wymagane!</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="education">Stopień edukacji</label>
                <select formControlName="education" class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && f.education.errors }">
                    <option *ngFor="let education of educations" [value]="education.educationDegree">
                        {{education.educationDegree}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="education">Region</label>
                <select formControlName="region" class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && f.region.errors }">
                    <optgroup label="Miasta">
                        <option *ngFor="let city of cities" [value]="city.regionName">
                            {{city.regionName}}
                        </option>
                    </optgroup>
                    <optgroup label="Województwa">
                        <option *ngFor="let voivodeship of voivodeships" [value]="voivodeship.regionName">
                            {{voivodeship.regionName}}
                        </option>
                    </optgroup>

                </select>
                <div>{{selectedEducation}} {{selectedRegion}}</div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="plannedAmount">Kwota planowana</label>
                <input type="number" formControlName="plannedAmount" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.plannedAmount.errors }" />
                <div *ngIf="submitted && f.plannedAmount.errors" class="invalid-feedback">
                    <div *ngIf="f.plannedAmount.errors.required">Kwota planowana jest wymagana</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Zapisz
            </button>
            <a routerLink="/children" class="btn btn-link">Cofnij</a>
        </div>
    </form>
</div>