.adding-child {
    margin-left: 200px;
}

.select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 3px ;
    border-radius: 0.1em;
    padding: 0.5em 0.55em;
    font-size: 1.5rem;
    cursor: pointer;
    line-height: 3.0;
    background-color: rgb(230, 219, 250);
    background-image: linear-gradient(to top, #f9f9f9, #fff 66%);
}