<div class="adding-child">
    <h1>Your childs</h1>
    <a routerLink="add" class="btn btn-sm btn-success mb-2">Add Child</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 30%">Planned amount</th>
                <th style="width: 30%">Actual amount</th>
                <th style="width: 30%">Education degree</th>
                <th style="width: 30%">Region</th>
                <th style="width: 10%"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let child of childs">
                <td>{{child.plannedAmount}}</td>
                <td>{{child.actualAmount}}</td>
                <td>{{child.education.educationDegree}}</td>
                <td>{{child.region.regionName}}</td>
                <td style="white-space: nowrap">
                    <a routerLink="edit/{{child.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                    <button (click)="deleteUser(child.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="child.isDeleting">
                        <span *ngIf="child.isDeleting" class="spinner-border spinner-border-sm"></span>
                        <span *ngIf="!child.isDeleting">Delete</span>
                    </button>
                </td>
            </tr>
            <tr *ngIf="loading">
                <td colspan="5" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>