<div class="panelBorder">
    <mat-tab-group (selectedTabChange)="onTabChanged($event)">
        <mat-tab label="Użytkownicy">
            <form [formGroup]="formParent" class="form" (ngSubmit)="onSubmitParent()">
                <div class="form-row">
                    <div class="form-group col">
                        <label for="username">Nazwa użytkownika</label>
                        <input type="text" formControlName="username" class="form-control"
                            [ngClass]="{ 'is-invalid': submittedParent && fParent.username.errors }" />
                        <div *ngIf="submittedParent && fParent.username.errors" class="invalid-feedback">
                            <div *ngIf="fParent.username.errors.required">Nazwa użytkownika jest wymagana!</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="password">Hasło</label>
                        <input type="text" formControlName="password" class="form-control"
                            [ngClass]="{ 'is-invalid': submittedParent && fParent.password.errors }" />
                        <div *ngIf="submittedParent && fParent.password.errors" class="invalid-feedback">
                            <div *ngIf="fParent.password.errors.required">Hasło jest wymagane!</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="email">E-mail</label>
                        <input type="email" formControlName="email" class="form-control"
                            [ngClass]="{ 'is-invalid': submittedParent && fParent.email.errors }" />
                        <div *ngIf="submittedParent && fParent.email.errors" class="invalid-feedback">
                            <div *ngIf="fParent.email.errors.required">E-mail jest wymagany!</div>
                            <div *ngIf="fParent.email.errors.email">Niepoprawny format adresu e-mail</div>
                        </div>
                    </div>
                    <div class="form-group col">

                        <label for="birthdate">Data urodzenia</label>
                        <input type="date" formControlName="birthdate" class="form-control"
                            [ngClass]="{ 'is-invalid': submittedParent && fParent.birthdate.errors }" />
                        <div *ngIf="submittedParent && fParent.birthdate.errors" class="invalid-feedback">
                            <div *ngIf="fParent.birthdate.errors.required">Data urodzenia jest wymagana!</div>
                        </div>

                    </div>
                    <div class="form-group col">
                        <label for="isActive">Czy aktywny</label>
                        <select formControlName="isActive" class="form-control"
                            [ngClass]="{ 'is-invalid': submittedParent && fParent.isActive.errors }">
                            <option [ngValue]="true">true</option>
                            <option [ngValue]="false">false</option>
                        </select>
                        <div *ngIf="submittedParent && fParent.isActive.errors" class="invalid-feedback">
                            <div *ngIf="fParent.isActive.errors.required">Pole czy aktywny jest wymagane!</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" *ngIf="isAddMode" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Dodaj
                    </button>
                    <button [disabled]="loading" *ngIf="!isAddMode" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Edytuj
                    </button>
                    <button *ngIf="!isAddMode" style="margin-left: 20px" (click)="changeModeParents()"
                        class="btn btn-success">
                        Dodawanie
                    </button>
                </div>
            </form>
            <table class="table table-striped">
                <tr>
                    <th style="width: 10%">ID</th>
                    <th style="width: 15%">Login</th>
                    <th style="width: 20%">Hasło</th>
                    <th style="width: 20%">E-mail</th>
                    <th style="width: 20%">Data urodzenia</th>
                    <th style="width: 10%">Czy aktywny</th>
                    <th style="width: 5%"></th>
                </tr>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.id}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.birthDate}}</td>
                        <td>{{user.isActive}}</td>
                        <td style="white-space: nowrap">
                            <button *ngIf="!user.isBanned" class="btn-danger btn btn-sm btn-primary mr-1"
                                (click)="banOrUnbanUser(user)">Zbanuj</button>
                            <button *ngIf="user.isBanned" class="btn-success btn btn-sm btn-primary mr-1"
                                (click)="banOrUnbanUser(user)">Odbanuj</button>
                            <button class="btn-ed-del btn btn-sm btn-primary mr-1"
                                (click)="editUser(user.id)">Edytuj</button>
                            <button (click)="deleteUser(user.id)"
                                class="btn-ed-del btn btn-sm btn-danger btn-delete-user">
                                Usuń
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="loading">
                        <td colspan="6" class="text-center">
                            <span class="spinner-border spinner-border-lg align-center"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </mat-tab>
        <mat-tab label="Rekordy dziecka">
            <form [formGroup]="formChild" class="form" (ngSubmit)="onSubmitChild()">
                <div class="form-row">
                    <div class="form-group col">
                        <label for="name">ID rodzica</label>
                        <input type="text" formControlName="parentID" class="form-control" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="name">Imię</label>
                        <input type="text" formControlName="name" class="form-control"
                            [ngClass]="{ 'is-invalid': submittedChild && fChild.name.errors }" />
                        <div *ngIf="submittedChild && fChild.name.errors" class="invalid-feedback">
                            <div *ngIf="fChild.name.errors.required">Imię jest wymagane!</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="education">Stopień edukacji</label>
                        <select formControlName="education" class="form-control"
                            [ngClass]="{ 'is-invalid': submittedChild && fChild.education.errors }">
                            <option *ngFor="let education of educations" [value]="education.educationDegree">
                                {{education.educationDegree}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="education">Region</label>
                        <select formControlName="region" class="form-control"
                            [ngClass]="{ 'is-invalid': submittedChild && fChild.region.errors }">
                            <option *ngFor="let region of regions" [value]="region.regionName">
                                {{region.regionName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="plannedAmount">Kwota planowana</label>
                        <input type="number" formControlName="plannedAmount" class="form-control" min="0" step="1" oninput="validity.valid||(value='');"
                            [ngClass]="{ 'is-invalid': submittedChild && fChild.plannedAmount.errors }" />
                        <div *ngIf="submittedChild && fChild.plannedAmount.errors" class="invalid-feedback">
                            <div *ngIf="fChild.plannedAmount.errors.required">Kwota planowana jest wymagana</div>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label for="actualAmount">Kwota faktyczna</label>
                        <input type="number" formControlName="actualAmount" class="form-control" min="0" step="1" oninput="validity.valid||(value='');"/>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" *ngIf="isAddMode" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Dodaj
                    </button>
                    <button [disabled]="loading" *ngIf="!isAddMode" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Edytuj
                    </button>
                    <button *ngIf="!isAddMode" style="margin-left: 20px" (click)="changeModeChildren()"
                        class="btn btn-success">
                        Dodawanie
                    </button>
                </div>
            </form>
            <table class="table table-striped">
                <tr>
                    <th style="width: 15%">ID</th>
                    <th style="width: 15%">Imię</th>
                    <th style="width: 15%">Region</th>
                    <th style="width: 15%">Stopień edukacji</th>
                    <th style="width: 10%">Kwota planowana</th>
                    <th style="width: 10%">Kwota faktyczna</th>
                    <th style="width: 15%">ID rodzica</th>
                    <th style="width: 5%"></th>
                </tr>
                <tbody>
                    <tr *ngFor="let child of children">
                        <td>{{child.id}}</td>
                        <td>{{child.name}}</td>
                        <td>{{child.region.regionName}}</td>
                        <td>{{child.education.educationDegree}}</td>
                        <td>{{child.plannedAmount}}</td>
                        <td>{{child.actualAmount}}</td>
                        <td>{{child.parentId}}</td>
                        <td style="white-space: nowrap">
                            <button class="btn-ed-del btn btn-sm btn-primary mr-1"
                                (click)="editChild(child.id)">Edytuj</button>
                            <button class="btn-ed-del btn btn-sm btn-danger btn-delete-user"
                                (click)="deleteChild(child.id)">
                                Usuń
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="loading">
                        <td colspan="6" class="text-center">
                            <span class="spinner-border spinner-border-lg align-center"></span>
                        </td>
                    </tr>
                </tbody>
            </table>


        </mat-tab>
        <mat-tab label="Regiony">
            <form [formGroup]="formRegion" class="form" (ngSubmit)="onSubmitRegion()">
                <div class="form-row">
                    <div class="form-group col">
                        <label for="regionName">Nazwa regionu</label>
                        <input type="text" formControlName="regionName" class="form-control"
                            [ngClass]="{ 'is-invalid': submittedRegion && fRegion.regionName.errors }" />
                        <div *ngIf="submittedRegion && fRegion.regionName.errors" class="invalid-feedback">
                            <div *ngIf="fRegion.regionName.errors.required">Nazwa regionu jest wymagana!</div>
                        </div>
                    </div>

                    <div class="form-group col">
                        <label for="isCity">Czy miasto</label>
                        <select formControlName="isCity" class="form-control">
                            <option [ngValue]="true">true</option>
                            <option [ngValue]="false">false</option>
                        </select>
                        <div *ngIf="submittedRegion && fRegion.isCity.errors" class="invalid-feedback">
                            <div *ngIf="fRegion.isCity.errors.required">Pole czy miasto jest wymagane!</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button [disabled]="loading" *ngIf="isAddMode" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Dodaj
                    </button>
                    <button [disabled]="loading" *ngIf="!isAddMode" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Edytuj
                    </button>
                    <button *ngIf="!isAddMode" style="margin-left: 20px" (click)="changeModeRegions()"
                        class="btn btn-success">
                        Dodawanie
                    </button>
                </div>
            </form>
            <table class="table table-striped">
                <tr>
                    <th style="width: 15%">ID</th>
                    <th style="width: 15%">Nazwa regionu</th>
                    <th style="width: 20%">Czy miasto</th>
                    <th style="width: 5%"></th>
                </tr>
                <tbody>
                    <tr *ngFor="let region of regions">
                        <td>{{region.id}}</td>
                        <td>{{region.regionName}}</td>
                        <td>{{region.isCity}}</td>
                        <td style="white-space: nowrap">
                            <button class="btn-ed-del btn btn-sm btn-primary mr-1"
                                (click)="editRegion(region.id)">Edytuj</button>
                            <button class="btn-ed-del btn btn-sm btn-danger btn-delete-user"
                                (click)="deleteRegion(region.id)">
                                Usuń
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="loading">
                        <td colspan="6" class="text-center">
                            <span class="spinner-border spinner-border-lg align-center"></span>
                        </td>
                    </tr>
                </tbody>
            </table>

        </mat-tab>
        <mat-tab label="Stopnie edukacji">
            <form [formGroup]="formEducation" class="form" (ngSubmit)="onSubmitEducation()">
                <div class="form-row">
                    <div class="form-group col">
                        <label for="educationDegree">Stopień edukacji</label>
                        <input type="text" formControlName="educationDegree" class="form-control"
                            [ngClass]="{ 'is-invalid': submittedEducation && fEducation.educationDegree.errors }" />
                        <div *ngIf="submittedEducation && fEducation.educationDegree.errors" class="invalid-feedback">
                            <div *ngIf="fEducation.educationDegree.errors.required">Stopień edukacji jest wymagany!
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button [disabled]="loading" *ngIf="isAddMode" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Dodaj
                    </button>
                    <button [disabled]="loading" *ngIf="!isAddMode" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Edytuj
                    </button>
                    <button *ngIf="!isAddMode" style="margin-left: 20px" (click)="changeModeEducations()"
                        class="btn btn-success">
                        Dodawanie
                    </button>
                </div>
            </form>
            <table class="table table-striped">
                <tr>
                    <th style="width: 15%">ID</th>
                    <th style="width: 15%">Stopień edukacji</th>
                    <th style="width: 5%"></th>
                </tr>
                <tbody>
                    <tr *ngFor="let education of educations">
                        <td>{{education.id}}</td>
                        <td>{{education.educationDegree}}</td>
                        <td style="white-space: nowrap">
                            <button class="btn-ed-del btn btn-sm btn-primary mr-1"
                                (click)="editEducation(education.id)">Edytuj</button>
                            <button class="btn-ed-del btn btn-sm btn-danger btn-delete-user"
                                (click)="deleteEducation(education.id)">
                                Usuń
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="loading">
                        <td colspan="6" class="text-center">
                            <span class="spinner-border spinner-border-lg align-center"></span>
                        </td>
                    </tr>
                </tbody>
            </table>

        </mat-tab>
        <mat-tab label="Administratorzy">
            <form [formGroup]="formAdmin" class="form" (ngSubmit)="onSubmitAdmin()">
                <div class="form-row">
                    <div class="form-group col">
                        <label for="username">Nazwa użytkownika</label>
                        <input type="text" formControlName="username" class="form-control"
                            [ngClass]="{ 'is-invalid': submittedAdmin && fAdmin.username.errors }" />
                        <div *ngIf="submittedAdmin && fAdmin.username.errors" class="invalid-feedback">
                            <div *ngIf="fAdmin.username.errors.required">Login jest wymagany!</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="password">Hasło</label>
                        <input type="text" formControlName="password" class="form-control"
                            [ngClass]="{ 'is-invalid': submittedAdmin && fAdmin.password.errors }" />
                        <div *ngIf="submittedAdmin && fAdmin.password.errors" class="invalid-feedback">
                            <div *ngIf="fAdmin.password.errors.required">Hasło jest wymagane!</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" *ngIf="isAddMode" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Dodaj
                    </button>
                    <button [disabled]="loading" *ngIf="!isAddMode" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Edytuj
                    </button>
                    <button *ngIf="!isAddMode" style="margin-left: 20px" (click)="changeModeAdmins()"
                        class="btn btn-success">
                        Dodawanie
                    </button>
                </div>
            </form>
            <table class="table table-striped">
                <tr>
                    <th style="width: 15%">ID</th>
                    <th style="width: 15%">Login</th>
                    <th style="width: 20%">Hasło</th>
                    <th style="width: 5%"></th>
                </tr>
                <tbody>
                    <tr *ngFor="let admin of admins">
                        <td>{{admin.id}}</td>
                        <td>{{admin.username}}</td>
                        <td>{{admin.password}}</td>
                        <td style="white-space: nowrap">
                            <button class="btn-ed-del btn btn-sm btn-primary mr-1"
                                (click)="editAdmin(admin.id)">Edytuj</button>
                            <button class="btn-ed-del btn btn-sm btn-danger btn-delete-user"
                                (click)="editAdmin(admin.id)">
                                Usuń
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="loading">
                        <td colspan="6" class="text-center">
                            <span class="spinner-border spinner-border-lg align-center"></span>
                        </td>
                    </tr>
                </tbody>
            </table>

        </mat-tab>

    </mat-tab-group>
</div>