.panelBorder{
    border:5px solid #766caa;
    width: 80%;
    height: 90%;
    font-family: "Open Sans", sans-serif;  
    top: 20%;
    left: 35%;
    margin-top: 0%;
    margin-left: 16%;
    
    overflow-x: hidden;
    overflow-y: visible;

}
.form{
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
}
.pane {
    display: inline-block;
    width: 90%;
}
table {
    text-align: center;
    width: 90%;
    height: 20%;
    margin-left: 6%;
}