
<div class="reg-and-ed" style="width:200px;" >
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Regiony</h2>
    <select formControlName="region" class = "select" [(ngModel)]="selectedRegion" (change)="changeRegion($event)">
        <option *ngFor="let region of regions" [value]="region.id">{{region.regionName}} </option>
     </select>

    <h2>Stopnie edukacji</h2>
    <select formControlName="education" class = "select" [(ngModel)]="selectedEducation" (change)="changeEducationDegree($event)">
        <option *ngFor="let education of educations" [value]="education.id">{{education.educationDegree}}</option>
     </select>   
      <button type="submit"> Zatwierdź </button>
      </form>
</div>

