<div class="statisticPage">
    <div class="formBorder">

        <mat-tab-group>


            <mat-tab label="Kwota planowana">
                <form [formGroup]="form" class="reg-and-ed" (ngSubmit)="onSubmit()">
                    <h2>Regiony</h2>
                    <select formControlName="region" class="select" (change)="changeRegion($event)">
                        <ng-template [ngIf]="regionSelector === 'Miasta'" [ngIfElse]="voivodeshipsBlock">
                            <option hidden [value]="" selected></option>
                            <option *ngFor="let region of cities" [value]="region.id">{{region.regionName}} </option>
                        </ng-template>
                        <ng-template #voivodeshipsBlock>
                            <option hidden [value]="" selected></option>
                            <option *ngFor="let region of voivodeships" [value]="region.id">
                                {{region.regionName}}
                            </option>
                        </ng-template>
                    </select>

                    <h2>Stopnie edukacji</h2>
                    <select formControlName="education" class="select" (change)="changeEducationDegree($event)">
                        <option *ngFor="let education of educations" [value]="education.id">
                            {{education.educationDegree}}
                        </option>
                    </select>
                    <button [disabled]="loading" class="button"> Zatwierdź
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    </button>
                </form>
            </mat-tab>
            <mat-tab label="Kwota faktyczna">
                <form [formGroup]="formActual" class="reg-and-ed" (ngSubmit)="onSubmitActual()">
                    <h2>Regiony</h2>
                    <select formControlName="regionActual" class="select" (change)="changeRegionActual($event)">
                        <ng-template [ngIf]="regionSelector === 'Miasta'" [ngIfElse]="voivodeshipsBlock">
                            <option hidden [value]="" selected></option>
                            <option *ngFor="let region of cities" [value]="region.id">{{region.regionName}} </option>
                        </ng-template>
                        <ng-template #voivodeshipsBlock>
                            <option hidden [value]="" selected></option>
                            <option *ngFor="let region of voivodeships" [value]="region.id">
                                {{region.regionName}}
                            </option>
                        </ng-template>
                    </select>

                    <h2>Stopnie edukacji</h2>
                    <select formControlName="educationActual" class="select"
                        (change)="changeEducationDegreeActual($event)">
                        <option *ngFor="let education of educations" [value]="education.id">
                            {{education.educationDegree}}
                        </option>
                    </select>
                    <button [disabled]="loading" class="button"> Zatwierdź
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    </button>
                </form>
            </mat-tab>



        </mat-tab-group>
        <div class="radio-group">
            <label class="radio-button">
                <input type="radio" class="radio-button" name="regionSelector" value="Miasta"
                    [(ngModel)]="regionSelector">
                Miasta
            </label>
            <label class="radio-button">
                <input type="radio" name="regionSelector" value="Województwa" [(ngModel)]="regionSelector" checked>
                Województwa
            </label>
        </div>

        <div class="selected-value">
            Wybrany format wyszukiwania: <b><i>{{regionSelector}}</i></b>
        </div>

        <label class="checkbox">
            <input type="checkbox" name="chartSelector" value="visualizeStatistics"
                [(ngModel)]="visualizeStatistics">
            Statystyki ogólnokrajowe dla stopnia edukacji
        </label>



    </div>

    <div *ngIf="statistics" class="table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 25%">Region</th>
                    <th style="width: 15%">Średnia</th>
                    <th style="width: 20%">Mediana</th>
                    <th style="width: 20%">Dominanta</th>
                    <th style="width: 20%">Odchylenie standardowe</th>
                </tr>
            </thead>
            <td>{{statistics.regionName}}</td>
            <td>{{statistics.meanAmount}} PLN</td>
            <td>{{statistics.medianAmount}} PLN</td>
            <td>{{statistics.modeAmount}} PLN</td>
            <td>{{statistics.standardDeviationAmount}} PLN</td>
            <tbody>

            </tbody>
        </table>
    </div>
    <div *ngIf="statisticsArray" class="table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 25%">Region</th>
                    <th style="width: 15%">Średnia</th>
                    <th style="width: 20%">Mediana</th>
                    <th style="width: 20%">Dominanta</th>
                    <th style="width: 20%">Odchylenie standardowe</th>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let statistics of statisticsArray">
                    <td>{{statistics.regionName}}</td>
                    <td>{{statistics.meanAmount}} PLN</td>
                    <td>{{statistics.medianAmount}} PLN</td>
                    <td>{{statistics.modeAmount}} PLN</td>
                    <td>{{statistics.standardDeviationAmount}} PLN</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="divChart">
    <p>
        <canvas id="Statistics"></canvas>
    </p>
</div>