@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400);

.box{
    border:5px solid lightsteelblue;
    width: 55%;
    height: 35%;
    font-family: "Open Sans", sans-serif;  
    top: 20%;
    left: 35%;
    margin-top: 5%;
    margin-left: 28%;
}

#divChart {
    display: block;
    margin-top: 50px;
    margin-left: 650px;
    width: 800px;
    height: 800px;
}

.table {
    width: 75%;
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 20%;
}

.reg-and-ed {
    width: 50%;
    margin-top: 3%;
    margin-left: 30%;
    font-size: 32px;
    margin-bottom: 3%;
}

.select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 3px ;
    border-radius: 0.1em;
    padding: 0.5em 0.55em;
    font-size: 1.5rem;
    cursor: pointer;
    line-height: 3.0;
    background-color: rgb(230, 219, 250);
    background-image: linear-gradient(to top, #f9f9f9, #fff 66%);
}

.button {
    background-color: #2f3964; 
    border: none;
    color: white;
    padding: 15px 45px;
    margin-left: 24%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  