@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400);

.checkbox{
    margin-left: 5%;
    font-size: 16px;
    margin-top: 5%;
    color: black;
    
}

.radio-group {
    display: inline;
    margin-left: 39%;
}
  
.radio-button {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 10px;
}

  
.selected-value {
    margin-left: 34%;
}

.formBorder{
    border:5px solid #766caa;
    width: 55%;
    height: 35%;
    font-family: "Open Sans", sans-serif;  
    top: 20%;
    left: 35%;
    margin-top: 5%;
    margin-left: 28%;
}

#divChart {
    display: block;
    margin-left: 36%;
    width: 40%;
}

.table {
    width: 74%;
    margin-top: 4%;
    margin-left: 16%;
}

.reg-and-ed {
    width: 50%;
    margin-top: 3%;
    margin-left: 30%;
    font-size: 32px;
    margin-bottom: 3%;
}

.select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 3px ;
    border-radius: 0.1em;
    padding: 0.5em 0.55em;
    font-size: 1.5rem;
    cursor: pointer;
    line-height: 3.0;
    background-color: rgb(230, 219, 250);
    background-image: linear-gradient(to top, #f9f9f9, #fff 66%);
}

.button {
    background-color:#2a2544; 
    border: none;
    color: white;
    padding: 15px 45px;
    margin-left: 24%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  